/Lab2/Task1/Task1/nbproject/private/
/Lab2/Task1/Student/nbproject/private/
/Lab2/Task1/Task1/build/
/Lab2/Task1/Student/build/
/Lab3/Task1/nbproject/private/
/Lab3/Task2/nbproject/private/
/Lab3/Task2/build/
/Lab3/Task3/nbproject/private/
/Lab3/Task3/build/
/Lab3/Task4/nbproject/private/
/Lab3/Task4/build/
/Lab5/Task1/nbproject/private/
/Lab5/Task1/build/
/Lab5/Task2/nbproject/private/
/Lab5/Task2/build/
/Lab5/Task3/nbproject/private/
/Lab5/Task3/build/
/Lab7/Task2/nbproject/private/
/Lab7/Task2/build/
/Lab7/Task3/nbproject/private/
/Lab7/Task3/build/
/Lab7/Task4/nbproject/private/
/Lab7/Task4/build/